<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet", href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>kapStore</title>

    </head>
    <body>
        <div class="grid-container">
            <!-- Header -->
            <header class="row">
                <div>
                    <a class="brand" href="index.html">kapStore</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>

            <!-- Main -->
            <main>
                <div class="row center">
                    <!-- Card for each Product-->
                    <div class="card">
                        <!-- Image for Product-->
                        <a href="product.html">
                            <!-- Image size: 680px by 830px -->
                            <img class="medium" src="../images/product-1.jpg" alt="Product 1">
                        </a>
                        
                        <!-- Card Body -->
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Animated Painting</h2>
                            </a>
                            <!-- Ratings -->
                            <div class="rating">
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>
                                <span>  <i class = "fa fa-star"></i></span>         
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>     
                            </div>
                            <div class="price">
                                $90
                            </div>
                        </div>


                    </div>
                    <div class="card">
                        <!-- Image for Product-->
                        <a href="product.html">
                            <!-- Image size: 680px by 830px -->
                            <img class="medium" src="../images/product-1.jpg" alt="Product 1">
                        </a>
                        
                        <!-- Card Body -->
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Animated Painting</h2>
                            </a>
                            <!-- Ratings -->
                            <div class="rating">
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>
                                <span>  <i class = "fa fa-star"></i></span>         
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>     
                            </div>
                            <div class="price">
                                $90
                            </div>
                        </div>


                    </div>
                    <div class="card">
                        <!-- Image for Product-->
                        <a href="product.html">
                            <!-- Image size: 680px by 830px -->
                            <img class="medium" src="../images/product-1.jpg" alt="Product 1">
                        </a>
                        
                        <!-- Card Body -->
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Animated Painting</h2>
                            </a>
                            <!-- Ratings -->
                            <div class="rating">
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>
                                <span>  <i class = "fa fa-star"></i></span>         
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>     
                            </div>
                            <div class="price">
                                $90
                            </div>
                        </div>


                    </div>
                    <div class="card">
                        <!-- Image for Product-->
                        <a href="product.html">
                            <!-- Image size: 680px by 830px -->
                            <img class="medium" src="../images/product-1.jpg" alt="Product 1">
                        </a>
                        
                        <!-- Card Body -->
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Animated Painting</h2>
                            </a>
                            <!-- Ratings -->
                            <div class="rating">
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>
                                <span>  <i class = "fa fa-star"></i></span>         
                                <span><i class = "fa fa-star"></i></span>
                                <span><i class = "fa fa-star"></i></span>     
                            </div>
                            <div class="price">
                                $90
                            </div>
                        </div>


                    </div>
                    
                </div>
            </main>

            <!-- Footer -->
            <footer class="row center">All rights reserved</footer>
        </div>
   </body>
</html>